In [20]:
import pyspark.sql.functions as F
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder \
    .appName("LeetCode SQL Problem") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/24 22:48:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/06/24 22:48:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/06/24 22:48:46 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [12]:
data = [[1, 'Alice'], [7, 'Bob'], [11, 'Meir'], [90, 'Winston'], [3, 'Jonathan']]
employee_schema= StructType([
    StructField('id', IntegerType(), True),
    StructField('name', StringType(), True)
])
employees_df = spark.createDataFrame(data, schema=employee_schema)
print("Employees DataFrame:\n")
employees_df.show()
datauni = [[3, 1], [11, 2], [90, 3]]
employee_uni_schema=StructType([
    StructField('id', IntegerType(), True),
    StructField('unique_id', IntegerType(), True),
])
employee_uni_df = spark.createDataFrame(datauni, schema=employee_uni_schema)
print("Employee Unique DataFrame:\n")
employee_uni_df.show()

Employees DataFrame:

+---+--------+
| id|    name|
+---+--------+
|  1|   Alice|
|  7|     Bob|
| 11|    Meir|
| 90| Winston|
|  3|Jonathan|
+---+--------+

Employee Unique DataFrame:

+---+---------+
| id|unique_id|
+---+---------+
|  3|        1|
| 11|        2|
| 90|        3|
+---+---------+

In [ ]:
output_df = employee_uni_df.join(
    employees_df,
    employee_uni_df.id == employees_df.id,
    'right'  
).select(
    F.col('unique_id').alias('id'),
    F.col('name').alias('name')
)
print("Output DataFrame:\n")
output_df.show()

Output DataFrame:

+----+--------+
|  id|    name|
+----+--------+
|NULL|   Alice|
|NULL|     Bob|
|   2|    Meir|
|   3| Winston|
|   1|Jonathan|
+----+--------+